.ga-footer{
 &.footer{
   padding-bottom:3rem;
   .ga-footer-links{
     a:after{
       content : ' - '
     }
     a:last-child:after{
       content: ''
     }
   }
   .ga-footer-socials{
     justify-content: center;
     a{
       margin:0.5rem;

     }
   }
 }
}