.exhibitor-card{
  transition: all 0.3s;

  &:hover{
    transform: scale(1.01);
  }

  .image {
    margin-bottom: 1rem;
  }

  .description {
    margin-top: 1rem;
    .content {
      margin-top: 1rem;
    }
  }
}